/* CSS Document */
html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
    font-family:'Cambria';
    font-size:16px;
    background: #fff;
}
*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: Magneto-Bold;
    src: url(../fonts/Magneto-Bold.woff);
}
@font-face {
    font-family: UTM-Alpine-KT;
    src: url(../fonts/UTM-Alpine-KT.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/TUV-Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/TUV-Montserrat-Regular.ttf);
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}
a:hover {
    text-decoration:none;
}
.container{
	width: 1170px;
	margin:0 auto;
}
.contenth1{
	font-family: 'UTM-Alpine-KT';
	font-size: 25px;
	color: #db9b68;
}
.contenth2{
	font-family: 'Montserrat-Regular';
	font-size: 25px;
	text-transform: uppercase;

}
/*
1. ////////////////////////// Header ////////////////////////*/
header{

}
#top-header{
	height: 55px;
	background: #333;
	width: 1920px;
	margin: 0 auto;
}
#top-header h3{
	float: left;
	line-height: 55px;
	color: #aaa;
}
#top-header h3 .login-btn, .signup-btn {
	color: #fff;
}
#top-header h3 a:hover{
	text-decoration: underline;
}
.list-group{
	line-height: 55px;
	float: right;
}
.list-group a{
	color: #aaa;
}
.list-group-item:hover{
	color: #fff;
}
.list-group img{
	margin: auto 4px;
}
#header{
	height: 165px;
	position: relative;
}
#logo{
	float: left;
}
.logo{
	line-height: 165px;
	position: relative;
}
.logo p{
	line-height: 165px;
	font-family: 'Magneto-Bold';
	font-style: bold;
	font-size: 35px;
	color: #ca8b5a;
	float: left;
}
.logo img{
	margin-top: 64px;
	margin-left: 139px;
	position: absolute;
}
#opening-hour{
	float: left;
	top: 30%;
	position: relative;
	/*height: 165px;*/
}
#call-us{
	float: left;
	top: 30%;
	position: relative;
	/*height: 165px;*/
}
.header-line{
	float: left;
	margin-right: 40px;
}
#cart{
	float: left;
	top: 30%;
	position: relative;
	/*height: 165px;*/
}
.group-header{
	width: 25%;
	top:50%;
}
.group-header i{
	color: #999;
}
.group-header .fa{
	float: left;
	position: absolute;
	margin-left: -40px;
	margin-top: 24px;
}
.fa-in{
	margin-left: 70px;
	margin-top: 0.8em;
}
.fa-in h3{
	font-family: 'Montserrat-Bold';
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 10px;
	color: #000;
}
.fa-in p{
	font-size: 16px;
	margin-left: 10px;
	margin-top: 5px;
	color: #666;
}
.ellipse1{
	float: left;
}
/*
2.1 ////////////////////////// NAVI ////////////////////////*/
nav{
	height: 54px;
	line-height: 54px;
	border-top: 1px solid #ddd;
}
#nav-menu{
	/*margin-top: -9px;*/
}
.icon-menu a{
	color: #000;
	width: 54px;
	height: 54px;
	float: left;
    margin-right: 5px;
}
#nav-menu .icon-menu i{
	line-height: 54px;
	width: 54px;
	height: 54px;
	background: #f3f3f3;
}
#nav-menu .icon-search{
	float: right;
	width: 54px;
	height: 54px;
	text-align: center;
}
#nav-menu .icon-search a{
	text-align: center;
}
#nav-menu .icon-search i{
	line-height: 54px;
	width: 54px;
	height: 54px;
	text-align: center;
}
#nav-menu .icon-search:hover{
	background: #f3f3f3;
}
#nav-menu i{
	/*float: left;*/
}
#nav-menu ul{
	list-style: none;
	display: inline;
	z-index: 99;
	height: 54px;
}
#nav-menu ul li{
	margin-right: 0px;
	padding:0 23px;
	font-family: 'Montserrat-Bold';
	font-weight: normal;
	text-transform: uppercase;
	font-size: 14px;
	float: left;
}
#nav-menu ul li a{
	color: #000;
	float: left;
	padding: auto 23px;
}
#nav-menu ul li:hover{
	background: #f3f3f3;
}
#nav-menu ul li.active{
	background: #f3f3f3;
}
#nav-menu i .fa-search{
	margin-right: 0px;
}



/*
2.2 ////////////////////////// NAVI SLIDE ////////////////////////*/

/*Add some spacing*/
.c-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

@media all and (min-width: 320px) {
  
  .c-menu--push-left {
    -webkit-transform: translateX(-330px);
        -ms-transform: translateX(-330px);
            transform: translateX(-330px);
  }
}
.c-menu--push-left.is-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

#wrapper.has-push-left {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
@media all and (min-width: 320px) {
  #wrapper.has-push-left {
    -webkit-transform: translateX(330px);
        -ms-transform: translateX(330px);
            transform: translateX(330px);
  }
}
/* -----------------------------------------------------------------------------

  MASK COMPONENT
  
----------------------------------------------------------------------------- */
.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
          transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.c-menu__close{
	margin-bottom: 25%;
	text-align: center;
	width: 230px;
	height: 20px;
	background: #333;
	border: none;
	color: #fff;
	font-weight: 600;
}
.c-menu{
	width: 230px;
	height: 100%;
	top: 0px;
	left: 0px;
    background: #121212;
    clear: both;
    padding: 3% 50px;
	z-index: 200;
	-webkit-transition: -webkit-transform 0.3s;
	    transition: transform 0.3s;
	/*overflow: scroll;*/
}
.categ{
	border-bottom: 1px solid #353535;
	height: 60px;
	padding-bottom: 35px;
	margin-bottom: 35px;
	position: relative;
}
.c-menu img{
	float: left;
}
.c-menu h3{
	position: absolute;
	margin-left: 75px;
	margin-top: 15px;
	color: #fff;
	font-family: 'Montserrat-Bold';
	font-size: 14px;
	text-transform: uppercase;
}
.c-menu span{
	color: #aaa;
	font-family: 'Cambria';
	font-weight: normal;
	text-transform: none;
}
/*
2.2 ////////////////////////// BANNER TOP CONTENT ////////////////////////*/
.top-banner{
	height: 280px;
	width: 1920px;
	margin: 0 auto;
	text-align: center;
	background: url(../images/top_banner_bg.jpg);
}
.top-banner h2{
	font-family: 'Montserrat-Bold';
	font-size: 35px;
	color: #fff;
	padding-top: 90px;
	text-transform: uppercase;
}
.page-link{
	margin-top: 25px;
}
.page-link h3, i{
	color: #aaa;
	font-size: 18px;
}
.page-link span{
	text-transform: capitalize;
}
/*
2.3 ////////////////////////// ASIDE ////////////////////////*/
#content{
}
.content{
	/*clear: both;*/
}
aside{
	width: 270px;
	margin-top: 67px;
	height: auto;
	float: left;
	position: relative;
}
.menu-left, .prices, .recommend{
	border: 1px solid #eaeaea;
	margin-bottom: 30px;
	padding: 25px 25px 25px 15px;
}
.menu-left{

}
.menu-left h3, .prices h3, .recommend h3{
	font-family: 'Montserrat-Bold';
	font-size: 18px;
	text-transform: uppercase;
}
.menu-left hr, .prices hr, .recommend hr{
	height: 1px;
	width: 30px;
	background-color: #000;
	border: none;
	margin: 24px 0;
}
.menu-left ul{
	text-transform: uppercase;
	color: #666;
	list-style: none;
}
.menu-left ul li{
	width: 200px;
	line-height: 38px;
	display: block;
}
.menu-left ul li a{
	color: #666;
}
.menu-left ul li a:hover{
	color: #ca8b5a;
	text-decoration: underline;
}
.menu-left ul li:hover .menu-down{
	display: block;
	transition: all 5s ease-out;
	margin-left: 20px;
}
.menu-down{
	display: none;
	transition: all 5s ease-out;
	margin-left: 0;
}
.menu-down p{
	transition: all 5s ease-out;
	text-transform: capitalize;
	line-height: 30px;
	display: block;
}
.menu-down p:hover a{
	color: #ca8b5a;
	text-decoration: underline;
}
.prices p{
	color: #666;
	font-weight: bold;
}
.prices img{
	margin-top: 24px;
}
.aside-item-group{
	padding-bottom: 26px;
	border-bottom: 1px dashed #ddd;
	margin-top: 26px;
	padding-left: 5px;
}
.aside-item-group img{
	float: left;
	margin-right: 10px;
}
.aside-item-group h4{}
.aside-item-group h3{}

/*
3. ////////////////////////// SLIDER ////////////////////////*/
.slider{
	position: relative;
	width: 100%;
}
.slider-img{
	width: 1920px;
	margin: 0 auto;
}
.slider-img img{
	width: 1920px;
	margin: 0 auto;
}
.slider-info{
	position: absolute;
	top: 20%;
	text-align: center;
	width: 100%;
	line-height:70px;
}
.slider-info img{}
.slider-info h1{
	font-family: 'UTM-Alpine-KT';
	font-size: 50px;
	color:#db9b68;
}
.slider-info h2{
	font-family: 'Montserrat-Regular';
	font-size: 50px;
	color:#fff;
	text-transform: uppercase;
}
.slider-info h4{
	font-size: 20px;
	color: #fff;
	font-style: italic;
	color: #e2e0df;
}
.slider-info button{
	font-family: 'Montserrat-Bold';
	background: rgba(0, 0, 0, 0);
	font-size: 14px;
	color: #fff;
	padding: 20px;
	text-transform: uppercase;
	width: 196px;
	border: 1px rgba(200, 200, 200, 0.8) solid;
}
/*
4. ////////////////////////// CATEGORY ////////////////////////*/
.category{
	height: 460px;
	width: 870px;
}
.category-group{
	float: left;
	width: 270px;
	margin-right: 30px;
	text-align: center;
}
.category-group:last-child{
	margin-right: 0px;
}
.category-img{
	margin-top: 80px;
}
.category-info{
	padding: 0 20px;
}
.category-info h2{
	margin: 20px auto;
	font-family: 'Montserrat-Regular';
	font-size: 16px;
	text-transform: uppercase;
}
.category-info p{
	margin-bottom: 30px;
}
.category-info button{
	color: #db9b68;
	font-family: 'Montserrat-Bold';
	background: rgba(0, 0, 0, 0);
	border:none;
}
/*
5. ////////////////////////// BANNER ////////////////////////*/
.banner{
	width: 870px;
	height: 330px;
}
.banner-l{
	float: left;
	width: 50%;
}
.banner-l img{
	width: 435px;
	height: 330px;
}
.banner-r{
	background: url(../images/banner_bg.jpg);
	text-align: center;
	width: 50%;
	height: 330px;
	float: left;
}

.banner-r h2{
	margin-top: 60px;
	padding: 10px auto;
	font-size: 18px;
}
.banner-r img{
	margin-top: 10px;
}
.banner-r p{
	padding: 0 30px;
	margin: 40px auto;
	color: #666;
}
.banner-r button{
	font-family: 'Montserrat-Bold';
	width: 155px;
	font-size: 13px;
	background: #333;
	border: none;
	padding: 16px;
	color: #fff;
	text-transform: uppercase;
}
/*
6. ////////////////////////// PRODUCTS ////////////////////////*/
.products{
	clear: both;
	width: 870PX;
}
.products-title{
	text-align: center;
	height: 245px;
}
.products-title h1{
	padding-top: 85px;
}
.products-title h2{}
.products-title img{
	margin-top: 20px;
}
.products-group{
	height: 465px;
	width: 870px;
	margin-bottom: 30px;
}

.prod-itemsp{
	width: 270px;
	max-height: 465px;
	float: left;
}
.prod-item{
	background: #f9f9f9;
	height: 465px;
	width: 270px;
	margin-bottom: 35px;
}
.prod-item{
	position: relative;
}
.prod-info{
	margin: 0 20px;
}
.item1, .item2,
.items1, .items2{
	margin-right: 30px;
}
.ashow a{
	position: absolute;
	width: 122px;
	height: 39px;
	left: 70px;
	text-align: center;
	background: #fff;
	margin-top: -120px;
	font-family: 'Montserrat-Bold';
	font-size: 13px;
	line-height: 39px;
	color: #000;
	text-transform: uppercase;
	display: none;
}
.prod-img:hover .ashow a{
	display: inline;
}
.prod-item h4, .column2 h4{
	font-family: 'Montserrat-Bold';
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 8px;
	color: #000;
}
.prod-item img{
}
.prod-item p{
	line-height: 23px;
	margin-top: 10px;
}
.prod-item h2,
.prod-item h3{
	font-family: 'Montserrat-Regular';
	font-size: 16px;
	margin: 20px 0;
}
.prod-item h2{
	color: #db9b68;
}
.prod-item h2 span{
	color: #999;
	font-size: 14px;
	text-decoration: line-through;
	margin-left: 10px;
}
.prod-item input{
	height: 33px;
	width: 55px;
	text-align: center;
	margin-right: 5px;
}
.prod-item button{
	height: 35px;
	width: 131px;
	font-family: 'Montserrat-Bold';
	text-transform: uppercase;
	color: #fff;
	border:none;
	background: #333;
	margin-bottom: 50px;
	font-size: 13px;
}
/*
6. ////////////////////////// PRODUCTS REVIEW
*/
#quickview{
	width: 870px;
}
#quickview img{
}
.quickview{
	margin-top: 40px;
	display: block;
}
.quickview-img{
	width: 370px;
	float: left;
	margin-right: 30px;
}
.quickview-img img{
}
.quickview-imgs{
	display: inline-block;
}
.quickview-imgs img{
	float: left;
	width: 82px;
	margin-top: 10px;
}
.quickview-imgs1{
	margin-right: 14px;
}
.quickview-imgs2{
	margin-right: 14px;
}
.quickview-imgs3{
	margin-right: 14px;
}
.quickview-imgs4{
	float: left;
}
.quickview-info{
width: 470px;
float: left;
color: #666;
}
.quickview-prod{}
.quickview-prod h3{
	font-family: 'Montserrat-Bold';
	font-size: 18px;
	color: #000;
}
.rate{
	margin-top: 15px;
}
.rate img{
	margin-right: 45px;
}
.rate span{
	border-left: 1px solid #ddd;
	margin-left: 10px;
	padding-left: 10px;
}
.quickview-prod h2{
	font-size: 24px;
	font-family: 'Montserrat-Regular';
	color: #db9b68;
	margin: 25px 0;
}
.quickview-prod h2 span{
	font-size: 16px;
	color: #999;
	text-decoration: line-through;
	margin-right: 15px;
}
.avai{
	margin-bottom: 20px;
}
.quickview-prod p{
	line-height: 24px;
}
.quantity,
.size{
	padding: 25px 0;
	position: relative;
}
.quantity{
	padding-bottom: 0px;
	border-top: 1px solid #eaeaea;
	margin-top: 23px;
}
.size{
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 23px;
	margin-left: 43px;
}

.quantity h3,
.size h3{
	font-size: 14px;
	font-family: 'Montserrat-Regular';
	text-transform: uppercase;
	float: left;
	margin-right: 32px;
	color: #777;
	line-height: 35px;
}
.quantity p,
.size p{
	height: 35px;
	position: relative;
}
.quantity p a i,
.size p a i{
	height: 27px;
	width: 35px;
	background: #f3f3f3;
	position: absolute;
	padding-top: 8px;
}
.quantity p input,
.size p select{
	margin-right: 5px;
	text-align: center;
	height: 33px;
	width: 70px;
	margin-left: 40px;
	border: 1px solid #f3f3f3;
}
.quickview-cart{
	color: #777;
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 30px;
}
.quickview-cart button{
	width: 153px;
	height: 45px;
	background: #ca8b5a;
	border: none;
	font-family: 'Montserrat-Regular';
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	float: left;
	margin-right: 30px;
}
.quickview-cart .fa-heart{
	height: 45px;
	float: left;
	line-height: 45px;
	margin-right: 8px;
}
.quickview-cart p{
	line-height: 45px;
}
.quickview-cart ul{
	margin: 30px 0;
	list-style: none;
	position: relative;
}
.quickview-cart ul li{
	line-height: 26px;
}
.quickview-cart ul li i{
	float: none;
	line-height: 10px;
}
.quickview-cart ul li a{
	text-decoration: underline;
}
}
.quickview-share{
	padding-bottom: 40px;
}
.quickview-share h3,
.review h3{
	font-family: 'Montserrat-Regular';
	font-size: 14px;
	text-transform: uppercase;
	float: left;
	margin-right: 40px;
	color: #777;
}
.quickview-share i{
	margin-right: 25px;
	color: #000;
}
.review{
	background: #f8f8f8;
	padding: 20px 45px;
	margin-bottom: 45px;
	clear: both;
}
.review h3{
	float: none;
	color: #000;
	margin-bottom: 30px;
}
.review h3 span{
	border-bottom: 2px solid #000;
	margin-right: 22px;
}
.review p{
	color: #777;
}


/*
7. ////////////////////////// TESTMONIALS ////////////////////////*/
.testmonials{
	background: url(../images/testmonials_bg.jpg);
	text-align: center;
	clear: both;
	height: 559px;
	width: 1920px;
	margin: 0 auto;
}
.testmonials img{
	margin-top: 100px;
}
.testmonials p{
	font-style: italic;
	font-size: 24px;
	color: #fff;
	padding: 65px 90px;
}
.testmonials h3{
	font-family: 'Montserrat-Bold';
	text-transform: uppercase;
	color: #fff;
}
.testmonials h4{
	color: #cdcdcd;
}
/*
8.1  ////////////////////////// ABOUT US ////////////////////////*/
.about-us{
	height: 695px;
}
.about-us-img{
    text-align: center;
	width: 50%;	
	float: left;
	height: 695px;

}
.about-us-img img{
	bottom: 0;
	margin-top: 75px;
}
.about-r{
    float: left;
	width: 50%;
}
.about-us-info{
	width: 97%;
	float: right;
}
.about-us-info h1{
	margin-top: 145px;
}
.about-us-info h2{}
.about-us-info hr{
	width: 50px;
	margin-bottom: 45px;
	margin-top: 20px;
}
.about-us-info .p1, .about-story .p1{
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	margin-top: -3px;
	margin-right: 10px;
}
.about-us-info .p2, .about-story .p2{
	line-height: 25px;
}
.about-us-info .p3, .about-story .p3{
	line-height: 25px;
	/*clear: both;*/
}
.about-us-info .p4{
	line-height: 25px;
	margin-top: 10px;
}
/*
*.* /////////////////////////////////////////////////////// ARTICLE ///////////////////////////////////////////////////////////////////////*/
article{
	width: 870px;
	padding-top: 67px;
	float: left;
	padding-left: 30px;
}

/* 
*.1 /////////////////////////                                                 ABOUTUS PAGE  */

.main-aboutus{
	float: left;
	position: relative;
	width: 870px;
}
.about-story{
}
.about-story-img{
	width: 400px;
	text-align: center;
	float: left;
}
.about-story-text{
	width: 466px;
	float: right;
	margin-top: 50px;
}
.about-story-text .p2{
	line-height: 28px;
}
.about-story-text .p2,.about-story-text .p1{
	margin-top: 30px;
}
.about-gallery hr,.about-story-text hr{
	width: 50px;
	height: 1px;
	border: none;
	background: #ccc;
	margin: 20px 0;
}
.statisctic{
	height: 180px;
	clear: both;
	width: 100%;
	background: #f9f9f9;
}
.sta-gr{
	height: 96px;
}
.sta-count{
	height: 96px;
	float: left;
	width: 33.1%;
	text-align: center;
	border-right: 1px solid #ddd;
	margin: 5% auto;
	display: block;	
}
.sta-count span{
	font-size: 49.77px;
	font-weight: bold;
}
.sta-count p{
	font-family: 'Montserrat-Regular';
	font-size:14px;
	color: #999;
	text-transform: uppercase;
}
.about-gallery{
	margin-top: 80px;
}
.img-top{
	margin-top: 45px;
	height: 440px;
	margin-bottom: 30px;
}
.img-top-l{
	width: 270px;
	float: left;
	margin-right: 30px;
}
.img-top-r{
}
.img-bot{
	height: 205px;
	margin-bottom: 80px;
}
.img-bot-l{
	width: 470px;
	height: 100%;
	float: left;
	margin-right: 30px;
}
.img-bot-r{
	width: 370px;
	height: 205px;
	background: #f3f3f3;
	line-height: 205px;
	text-align: center;
	float: left;
	font-family: 'Montserrat-Regular';
	font-size: 18px;
	text-transform: uppercase;
}
.img-bot-r a,.img-bot-r i{
	color: #000;
}
/*
*.2 /////////////////////////                                                       ABOUTUS PAGE  */
.quality{
	clear: both;
}
hr.hr-qua{
	border:none;
	height: 1px;
	width: 870px;
	/*width: auto;*/
	background: #eaeaea;
	margin: 35px 0;
}
.quality img{
	float: left;
	margin-right: 30px;
	margin-bottom: 35px;
}
.quality-des{
	padding-top: 38px;
}
.quality-des h3{
	font-family: 'Montserrat-Bold';
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.quality-des p{}

/*
*.3 /////////////////////////                                                        CHECKOUT PAGE  */
.main-checkout table{
	border-collapse: collapse;
	font-family: 'Montserrat-Regular';
	font-size: 14px;
	border-spacing: 0;

}
.main-checkout table thead{
	text-transform: uppercase;
	height: 58px;
	color: #fff;
}
.main-checkout table thead td{
	background: #ca8b5a;
	border: 1px solid #ca8b5a;
}
.main-checkout td{
	border: 1px solid #eaeaea;
	padding: 25px;
}
td.column1{
	padding: 20px;
}
td.column1 img{
	padding-bottom: 20px;
	padding-top: 5px;
}
td.column2{
	width: 158px;
}
td.column3,
td.column5{
	font-size: 16px;
}
td.column4{
	position: relative;
	padding-right: 20px;
	width: 158px;
}
td.column4 a{
	width: 30px;
	height: 30px;
	background: #eaeaea;
	position: absolute;
	text-align: center;
}
td.column4 a i{
	margin-top: 7px;
}
.i-l{
	float: left;
}
td.column4 input{
	margin-left: 35px;
	margin-right: 5px;
	width: 58px;
	height: 26px;
	float: left;
	text-align: center;
}
.btn-checkout{
	font-family: 'Montserrat-Regular';
	font-size: 14px;
	text-transform: uppercase;
	background: #eaeaea;
	height: 45px;
	border: none;
}
.check-cart  .btn-r,
.check-cart  .btn-l{
	font-size: 13px;
	padding: 0 24px;
	float: left;
}
.check-cart  .btn-r{
	float: right;
	margin-left: 24px;
}
.check-cart .btn-l{
	float: left;
}
.check-cart p{
	color: #666;
	float: right;
	line-height: 45px;
}
.checkform{
	/*width: 870px;*/
	height: auto;
	/*overflow: auto;*/
}
.checkform-{
	width: 268px;
	border: 1px solid #eaeaea;
	float: left;
	margin-top: 50px;
	margin-bottom: 60px;
	margin-right: 30px;
}
.checkform-:last-child{
	margin-right: 0;
}
.checkform h3,
.checkform p,
.checkform input{
	padding: 0 18px;
}
.checkform input,
.checkform button{
	margin-left: 18px;
}
.checkform h3{
	padding: 0 18px;
	height: 50px;
	background: #333;
	color: #fff;
	line-height: 50px;
	font-family: 'Montserrat-Regular';
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.checkform p{
	margin-bottom: 15px;
	color: #666;
}
.checkform p span{
	float: right;
	color: #999;
	font-family: 'Montserrat-Regular';
	font-size: 14px;
}
.checkform input{
	width: 192px;
	margin-top: 15px;
	height: 36px;
}
p.checktotal{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0;
}
.checkform button{
	margin-top: 20px;
	margin-bottom: 24px;
	width: 232px;
	height: 45px;
}

.btn-checkout{
	color: #fff;
	background: #ca8b5a;
}
/*
*.4 /////////////////////////                                                        SHOPPING GUIDE  */
.guide{
	padding: 18px 60px 50px 50px;
	background: #f8f8f8;
	margin-bottom: 30px;
	display: block;
	position: relative;
}
.bg-fa{
	float: left;
	margin-right: 15px;
}
.guide i{
	margin-left: -79px;
	width: 64px;
	text-align: center;
	line-height: 64px;
	float: left;
	color: #000;
}
.guide h3{
	font-family: 'Montserrat-Bold';
	font-size: 18px;
	text-transform: uppercase;
	line-height: 64px;
}
.guide .onweek{
	float: left;
	padding-right: 80px;
}
.guide .lastweek{
	float: left;
	padding-right: 150px;
}
.guide ul,
.guide p{
	line-height: 24px;
	color: #666;
	list-style-type: decimal;
	padding-top: 30px;
}
.guide p span{
	font-weight: bold;
}
.guide ul li{
	line-height: 30px;
}
.list-bank{
	margin-top: 25px;
}
.map{
	position: relative;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 50px;
	width: 870px;	
}
.map .mapid{
	right: -1px;
	top:240px;
	width: 370px;
	height: 210px;
	position: absolute;
	background: #333;
	padding-top: 50px;
	overflow: auto;
}
.map:hover .mapid{
	/*display: none;*/
}
.map .mapid i{
	float: left;
	margin-left: 25px;
	margin-right: 20px;
	color: #fff;
}
.map .mapid p{
	color: #aaa;
	line-height: 25px;
	padding-bottom: 15px;
	display: table;
}
/*Add some spacing*/
.faq-section{
    position: relative;
    border-bottom: 1px solid #eaeaea;
}

/*Hide the paragraphs*/
.faq-section p{
    display: none;
}   

/*Hide the checkboxes */
.faq-section input{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    margin: 0;
    width: 100%;
    height: 36px;
}

/*Show only the clipped intro */
.faq-section label p{
    display: block; 
    color: #666;
    font-size: 16px;
    transition: all .45s ease-out;
    margin-left: 30px;
    overflow: hidden;
}

/*If the checkbox is checked, show all paragraphs*/
.faq-section input[type=checkbox]:checked~p{
    display: block;
    color: #666;
    font-size: 16px;
    margin-left: 30px;
    line-height: 27px;
    overflow: visible;
    margin-bottom: 25px;
    transition: all .55s ease-out;
}

/*Style the label*/
.faq-section label{
	line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
    display: block;
    position: relative;
    padding: 0;
    transition: all .55s ease-out;
}

/*Remove text selection when toggle-ing*/
/*.faq-section label::selection{
    background: none;
}*/

.faq-section label:hover{
    background: #f5f5f5;
}
.q5{
	margin-bottom: 70px;
}
/*
9. ////////////////////////// NEWSLETTER ////////////////////////*/

.newsletter{
	height: 110px;
	background: #ca8b5a;
	clear: both;
	width: 1920px;
	margin: 0 auto;
}
.newsletter h3{
	float: left;
	line-height: 110px;
	font-family: 'Montserrat-Regular';
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
}
.form-suscribe{
	height: 50px;
	float: left;
	margin-left: 85px;
	margin-top: 30px;
}
.form-suscribe .inp-suscribe{
	float: left;
	padding-left: 25px;
	height: 50px;
	width: 310px;
	border:none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.form-suscribe .btn-suscribe{
	height: 50px;
	width: 135px;
	background: #333;
	color: #fff;
	font-family: 'Montserrat-Bold';
	font-size: 13px;
	border:none;
    /*padding-top: -4px;*/
    /*margin-left: -3.5px;*/
}
.list-item{
	line-height: 110px;
	margin-left: 130px;	
	display: inline;
}
.list-item a{
	margin-right: 10px;
	padding: 10px;
	background: #fff;
	border-radius: 50%;
}
.list-item a i{
	color: #ca8b5a;
}

/*
10. ////////////////////////// FOOTER ////////////////////////*/
footer{
 background: #333;
 color: #fff;
 width: 1920px;
 margin: 0 auto;
}
#footer{
	height: 400px;
}
.footer{
	float: left;
	width: 270px;
	padding: 85px 0;
	margin-right: 30px;
}
.footer:last-child{
	margin-right: 0;
}
.footer h3{
	font-family: 'Montserrat-Regular';
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.footer li{
	list-style: none;
	color: #aaa;
	margin-bottom: 15px;
}
.footer li a{
	color: #aaa;
}
.footer-contact{
}
.footer-contact li{
	line-height: 25px;
}
.footer-contact li i{
	float: left;
	margin-right: 20px;
	line-height: 25px;
	color: #fff;
}
.footer-contact li span{
	display: table-cell;
}
.footer-account{

}
.footer-support{

}
.footer-gallery{
	/*padding: 85px 0;*/
}
.footer-gallery table{
	border-spacing: 0;
	border-collapse: inherit;
}
.footer-gallery table tr{
	height: 84px;
}
.footer-gallery table tr td{
	height: 84px;
	padding-right: 9px;
	padding-bottom: 5px;
}
.footer-gallery table tr td:last-child{
	margin-right: 0;
}
.footer-gallery table tr td a{
	height: 84px;
	width: 84px;

}
#coppyright{
	clear: both;
	height: 60px;
	background: #121212;
	color: #777;
	text-align: center;
}
#coppyright span{	
	text-transform: capitalize;
	line-height: 60px;
}
/*??????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/

#wrapper {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

@media all and (max-width: 1169px){
	#top-header,
	.testmonials,
	footer{
		width: 100%;
	}
	.slider{
		max-height: 400px;
	}
	.slider-img img{
		max-height: 400px;
	}
	.slider-info{
		top: 5%;
	}
	aside{
		display: none;
	}
	.container{
		width: 99.9%;
	}
	.form-suscribe .inp-suscribe{
		width: 50%;
	}
	article{
		width: 100%;
		padding: 0;
	}
	.category,
	.banner{
		margin: 0 auto;
	}
	.products-group{
		margin: 0 auto;
	}
	.testmonials{
		max-height: 400px;
	}
	.testmonials img{
		margin-top: 4%;
	}
	.testmonials p{
		padding: 35px 50px;
	}
	.main-checkout{
	    width: 870px;
	    margin: 0 auto;
	}
	.checkform{
		margin: 0 auto;
	}
	.footer{
		width: 20%;
	}
	.main-aboutus{
		float: none;
		margin: 0 auto;
	}
	.map .mapid{
		right: auto;
		height: auto;	
	}
	.map{
		margin: 0 auto;
	}
}
@media all and (min-width: 1170px) and (max-width: 1600px){
	#top-header,
	.top-banner,
	.testmonials,
	footer{
		width: 100%;
	}
	.slider-info{
    	line-height: 60px;
		top: 10%;
	}
	.slider-img img,
	.testmonials {
	    height: 450px;
	    width: 100%;
	}
	.category-img {
		margin-top: 0;
	}
	.category{
		height: 400px;
	}
	.testmonials img {
    margin-top: 50px;
	}
	.list-group{
		/*margin-right: 15px;*/
	}
	.c-menu__close{
		display: none;
	}
	.c-menu{
		padding-top: 5%;
	}
}